body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}

.navbar {
  height: 7rem;
  /* z-index: 2 !important; */
  background-color: aliceblue;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222 !important;
}

/* Footer */

.f-info-links a {
  text-decoration: none;
  color: #222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  display: flex;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* cards */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400;
}
.listing-link {
  text-decoration: none;
}

/* card effect */

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* new page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

#form-category {
  margin-top: 0.5rem !important;
  padding: 0.5rem;
}

/* show page */

.show-img {
  height: 30vh;
}
.btns {
  display: flex;
}
.a-btn {
  height: 38px !important;
  padding: 6px 12px !important;
  background-color: #fe424d !important;
  border: none !important;
}
.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* map styling */

#map {
  height: 400px !important;
  width: 100% !important;
  border: 1 px solid black;
}
